<div class='main-content'>
  <div class='container'>
    <div class='row'>
      <div class= "well">
        <p class="text-center lead">Your reset password link has expired.</p>
      </div>
    </div> <!-- row --> 
  </div> <!-- container -->
</div> <!-- main-content -->