<div class='main-content'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <h1 class="text-center">Forgot Password?</h1>
        <p class="text-center lead">We will send you an email with a link to reset your password.</p>
        <%= form_tag forgot_passwords_path, class: 'login' do %>
          <div class='form-group'>
            <%= label_tag :email, nil, class: "col-sm-2 control-label" %> 
            <div class='col-sm-10'>
              <%= email_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
            </div>
          </div>
          <div class='col-md-offset-2'>
            <div class='form-group'>
              <div class='col-sm-offeset-2 col-sm-10'>
                <%= submit_tag "Send Email", class: "btn btn-primary" %> 
              </div>
            </div>
          </div>
        <% end %> 
      </div>
    </div> <!-- row --> 
  </div> <!-- container -->
</div> <!-- main-content -->