---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=2&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6RimonauC3QoCduloAkYnfKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15cfMfFduSPdjBxW2BwTkFny",
          "livemode": false,
          "created": 1425486533,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15cfMfFduSPdjBxWv0s6edr9",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 2,
            "exp_year": 2016,
            "fingerprint": "lqOFUwgjP82ie4sv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "154.122.180.240"
        }
  recorded_at: Wed, 04 Mar 2015 16:28:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=2000&currency=usd&card=tok_15cfMfFduSPdjBxW2BwTkFny&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_6RimonauC3QoCduloAkYnfKe
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15cfMnFduSPdjBxWICXis7Wm"
          }
        }
  recorded_at: Wed, 04 Mar 2015 16:28:43 GMT
recorded_with: VCR 2.9.3
