<div class='jumbotron'>
  <div class='container'>
    <div class='row text-center'>
      <div class='col-md-12'>
        <h1 class='text-center'>Flowlance</h1>
        <h2 class='text-center'>The best way for freelancers to manage projects</h2>
        <p>Flowlance helps you track the progress of your projects</p>
        <p>So you can focus on what's most important to you: your work</p>
        <button type='button' class='btn btn-default btn-lg'>Take a Tour</button>
        <%= link_to "Get Started", register_path, class: 'btn btn-primary btn-lg' %> 
      </div>
    </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row text-center features'>
    <div class='col-md-4 col-ms-4 col-xs-6'>
      <span class='glyphicon glyphicon-tasks'></span>
      <h4>Track your projects</h4>
      <p>Flowlance enables you to track the progress of your projects fron start to finish.</p>
    </div>
    <div class='col-md-4 col-ms-4 col-xs-6'>
      <span class='glyphicon glyphicon-user'></span>
      <h4>Track your clients</h4>
      <p>Flowlance enables you record all your clients. Never forgot who owes you money.</p>
    </div>
    <div class='col-md-4 col-ms-4 col-xs-6'>
      <span class='glyphicon glyphicon-eur'></span>
      <h4>Track your payments</h4>
      <p>Flowlance enables you to track your payments after completing tou tasks.</p>
    </div>
  </div>
</div>
