<div class="jumbotron">
  <div class='container'>
    <div class='row text-center'>
      <div class='col-md-12'>
        <h1 class='text-center'>Flowlance</h1>
        <h2 class='text-center'>The best way for freelancers to manage projects</h2>
        <p>Flowlance helps you save time and money by providing a easier way</p>
        <p>to manage your projects so you can focus on your work.</p>
        <hr/>
        <p>Register for only $20, and start saving time and money</p>
        <%= link_to "Get Started", register_path, class: 'btn btn-primary btn-lg' %> 
      </div>
    </div>
  </div>
</div>
