 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class='container'>
      <div class='row text-center'>
        <div class='col-md-12'>
          <p class='text-center lead'>Please click on the link below to reset your password:</p>
          <p class='text-center lead'><%= link_to "Reset My Password", password_reset_url(@user.token)  %></p>
        </div>
      </div>
    </div>
  </body>
</html>
